* {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    padding-inline-start: 0;
}

body {
    background-color: rgb(222, 222, 222);
}

h1 {
    font-size: 40px;
    margin: 16px 50px;
    padding: 0;
    text-align: center;
    background-color: white;
}

h1,
h3 {
    color: red;
}

h3 {
    background-color: white;
    padding: 6px 8px;
}

img {
    height: 350px;
    width: 500px;
    margin-left: 50px;
    margin-bottom: 16px ;   
}

a {
    margin: 8px;
}

.content-box {
    width: 600px;
    height: auto;
    border: 2px solid rgb(154, 154, 154);
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgb(225, 255, 245);
}

.box-recipes {
    width: 500px;
    padding: 0;
    margin-bottom: 16px;
    margin-left: 50px;
    border: 2px solid rgb(154, 154, 154);
    box-sizing: border-box;
}

.food-img {
    height: 200px;
    width: 300px;   
    text-decoration: none;
}

.recipe-link a {
    color: white;
    background-color:  #ffa600;
    padding: 6px 8px;
}

.box-recipes ul {
    list-style: none;
}

.list.box-recipes li {
    margin-left: 16px;
}

.desc {
    margin: 16px 50px;
    margin-top: 0;
}

.highlight {
    background-color: #ffd6d6;
    color: #aa0000;
}

.list-recipe {
    padding-left: 40px;
}

.return-link {
    color: white;
    background-color:  #ffa600;
    padding: 6px 8px;
    margin-left: 422px;
    display: block;
    text-decoration: none;
}